<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.recruit.erikura">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 精細な位置情報(GPS) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- おおよその位置情報(ネットワーク基地局) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 完全なネットワークアクセス -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".ErikuraApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <!-- チュートリアル -->
        <activity
            android:name=".presenters.activities.tutorial.PermitLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding0Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.tutorial.Onboarding5Activity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.PedometerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".presenters.activities.report.ReportConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.report.ReportEvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.report.ReportOtherFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.report.ReportWorkingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.mypage.PaymentInformationActivity"
            android:screenOrientation="portrait" >
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/mypage/payment_history/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.report.ReportFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.errors.LoginRequiredActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.report.ReportImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.report.ReportExamplesActivity"
            android:screenOrientation="portrait" >
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/report/example/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" /> <!-- スタート画面 -->
        <!-- ============================================================ -->
        <!-- 案件検索関連 -->
        <!-- 地図画面 -->
        <activity
            android:name=".presenters.activities.job.MapViewActivity"
            android:label="@string/title_activity_map_view"
            android:screenOrientation="portrait">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/map/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity><!-- リスト画面 -->
        <activity
            android:name=".presenters.activities.job.ListViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/list/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity><!-- 案件検索画面 -->
        <activity
            android:name=".presenters.activities.job.SearchJobActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- ============================================================ -->
        <!-- 案件詳細関連 -->
        <activity
            android:name=".presenters.activities.job.JobDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <!-- ディープリンクの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="erikura" />
                <data android:pathPrefix="/jobs/" />
            </intent-filter>
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
            <!-- 応募のFDL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/apply/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
            <!-- 作業報告のFDL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/own/reported/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.job.ApplyCompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.job.WorkingFinishedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenters.activities.job.PlaceDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!-- ディープリンクの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="erikura" />
                <data android:pathPrefix="/places/" />
            </intent-filter>
            <!-- FDL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/places/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.job.PropertyNotesActivity"
            android:screenOrientation="portrait" >
            <!-- FDL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/property/notes/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <!-- ============================================================ -->
        <!-- 応募済みの仕事関連 -->
        <activity
            android:name=".presenters.activities.OwnJobsActivity"
            android:screenOrientation="portrait">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/reports/register/completed/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <!-- ============================================================ -->
        <!-- マイページ関連 -->
        <activity
            android:name=".presenters.activities.mypage.MypageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/mypage/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <!-- マイページ -->
        <activity
            android:name=".presenters.activities.mypage.ConfigurationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 設定画面 -->
        <!-- 設定画面関連 -->
        <activity
            android:name=".presenters.activities.mypage.ChangeUserInformationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/mypage/users/edit/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity><!-- 会員情報変更 -->
        <activity
            android:name=".presenters.activities.mypage.AccountSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/mypage/bank/edit/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity><!-- 口座情報登録更新 -->
        <activity
            android:name=".presenters.activities.mypage.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 通知設定 -->
        <activity
            android:name=".presenters.activities.mypage.ResignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" /> <!-- 再認証画面 -->
        <activity
            android:name=".presenters.activities.mypage.AboutAppActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- このアプリについて画面 -->
        <activity
            android:name=".presenters.activities.mypage.FavoritePlacesActivity"
            android:screenOrientation="portrait" >
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/jobs/favorite/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <!-- 本人確認情報入力画面 -->
        <activity
            android:name=".presenters.activities.mypage.UpdateIdentityActivity"
            android:screenOrientation="portrait" />
        <!-- 身分証確認画面-->
        <activity
            android:name=".presenters.activities.mypage.UploadIdImageActivity"
            android:screenOrientation="portrait" />
        <!-- 身分証確認完了画面-->
        <activity
            android:name=".presenters.activities.mypage.UploadedIdImageActivity"
            android:screenOrientation="portrait" />
        <!-- パスワード再設定メール-->
        <activity
            android:name=".presenters.activities.SendResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!-- パスワード再設定メール送信完了-->
        <activity
            android:name=".presenters.activities.SendedResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!-- パスワード再設定-->
        <activity
            android:name=".presenters.activities.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <!-- ディープリンクの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="erikura" />
                <data android:path="/users/password/edit" />
            </intent-filter>
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/reset/password/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
            <!-- ドメイン統合後の登録用URL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/api/v1/utils/open_android_app"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>

        </activity>


        <!-- ============================================================ -->
        <!-- 新規会員登録関連 -->
        <activity
            android:name=".presenters.activities.registration.RegisterEmailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterEmailFinishedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

            <!-- ディープリンクの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="erikura" />
                <data android:path="/user/register/mail_auth" />
            </intent-filter>
            <!-- FDLの設定 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/link/user/register/password/"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
            <!-- ドメイン統合後の登録用URL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${erikura_host}"
                    android:pathPrefix="${erikura_relative_url_root}/api/v1/utils/open_android_app"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>

            <!-- 旧ドメインでの登録用URL -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${old_erikura_host}"
                    android:pathPrefix="/api/v1/utils/open_android_app"
                    android:scheme="${erikura_protocol}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.activities.registration.RegisterBirthdayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterGenderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterJobStatusActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterWishWorkActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.SmsVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".presenters.activities.registration.RegisterFinishedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <!-- ============================================================ -->
        <!-- その他 -->
        <activity
            android:name=".presenters.activities.errors.UpgradeRequiredActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".presenters.activities.WebViewActivity"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".presenters.activities.FirebaseDynamicLinksActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">-->
<!--&lt;!&ndash;            FDLの設定&ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--&lt;!&ndash;                <data&ndash;&gt;-->
<!--&lt;!&ndash;                    android:host="${firebase_dynamic_link_host}"&ndash;&gt;-->
<!--&lt;!&ndash;                    android:scheme="https" />&ndash;&gt;-->
<!--                <data-->
<!--                    android:host="${erikura_host}"-->
<!--                    android:pathPrefix="${erikura_relative_url_root}/link/user/register/"-->
<!--                    android:scheme="${erikura_protocol}" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <service
            android:name=".services.ErikuraMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/erikura_icon_android_logo_1024" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orangeYellow" />
        <!-- ============================================================ -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="633836627103645" />
    </application>

</manifest>